version: 2.1
orbs:
  architect: giantswarm/architect@2.7.0

workflows:
  build:
    jobs:
      - architect/go-build:
          name: go-build-net-exporter
          binary: net-exporter
          filters:
            # Trigger the job also on git tag.
            tags:
              only: /^v.*/

      - architect/push-to-docker:
          context: "architect"
          name: push-net-exporter-to-quay
          image: "quay.io/giantswarm/net-exporter"
          username_envar: "QUAY_USERNAME"
          password_envar: "QUAY_PASSWORD"
          requires:
            - go-build-net-exporter
          # Needed to trigger job also on git tag.
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-docker:
          context: "architect"
          name: push-net-exporter-to-aliyun
          image: "registry-intl.cn-shanghai.aliyuncs.com/giantswarm/net-exporter"
          username_envar: "ALIYUN_USERNAME"
          password_envar: "ALIYUN_PASSWORD"
          requires:
            - go-build-net-exporter
          # Needed to trigger job only on git tag.
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-app-catalog:
          context: "architect"
          name: push-net-exporter-to-control-plane-app-catalog
          app_catalog: "control-plane-catalog"
          app_catalog_test: "control-plane-test-catalog"
          chart: "net-exporter"
          requires:
            - push-net-exporter-to-quay
          # Needed to trigger job also on git tag.
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-app-catalog:
          context: "architect"
          name: push-net-exporter-to-default-app-catalog
          app_catalog: "default-catalog"
          app_catalog_test: "default-test-catalog"
          chart: "net-exporter"
          requires:
            - push-net-exporter-to-aliyun
            - push-net-exporter-to-quay
          # Needed to trigger job also on git tag.
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          context: architect
          name: push-net-exporter-to-shared-app-collection
          app_name: "net-exporter"
          app_namespace: "monitoring"
          app_collection_repo: "shared-app-collection"
          requires:
            - push-net-exporter-to-control-plane-app-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          context: architect
          name: push-net-exporter-to-aws-app-collection
          app_name: "net-exporter"
          app_namespace: "monitoring"
          app_collection_repo: "aws-app-collection"
          requires:
            - push-net-exporter-to-control-plane-app-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          context: architect
          name: push-net-exporter-to-azure-app-collection
          app_name: "net-exporter"
          app_namespace: "monitoring"
          app_collection_repo: "azure-app-collection"
          requires:
            - push-net-exporter-to-control-plane-app-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          context: architect
          name: push-net-exporter-to-kvm-app-collection
          app_name: "net-exporter"
          app_namespace: "monitoring"
          app_collection_repo: "kvm-app-collection"
          requires:
            - push-net-exporter-to-control-plane-app-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          context: architect
          name: push-net-exporter-to-vmware-app-collection
          app_name: "net-exporter"
          app_namespace: "monitoring"
          app_collection_repo: "vmware-app-collection"
          requires:
            - push-net-exporter-to-control-plane-app-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
